<h2>Profil</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
	
	<div><%= f.label :username, "Kullanıcı Adı" %><br />
		<%= f.text_field :username, :autofocus => true %></div>
		<br />
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

   <br />

  <div><%= f.label :password, "Yeni Parola" %> <i>(değiştirmek istemiyorsan boş bırak)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>
<br />
  <div><%= f.label :password_confirmation, "Parolayı tekrarla" %><br />
  <%= f.password_field :password_confirmation %></div>
<br />
  <div><%= f.label :current_password, "Parola"%> <i>(değişiklikleri onaylamak için şimdiki parolangirmek gerekiyor)</i><br />
  <%= f.password_field :current_password %></div>
<br />
  <div><%= f.submit "Güncelle" %></div>
<% end %>

<h3>Hesabımı kapat</h3>

<p>Mutsuz musun? <%= link_to "Hesabımı iptal et", registration_path(resource_name), :data => { :confirm => "Emin misin? Hesabın kapatılacak. Bu işlemin geri dönüşü yok!" }, :method => :delete %>.</p>

<%= link_to "Geri", :back %>
