<%= form_for(@yorum) do |f| %>
  <% if @yorum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@yorum.errors.count, "error") %> prohibited this yorum from being saved:</h2>

      <ul>
      <% @yorum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :title, "Başlık" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :yazi, "Yazı" %><br />
    <%= f.text_area :yazi %>
  </div>
	<div class="field">
    <%= f.hidden_field :user_id %>
    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
	
<% end %>
