<h1>Editör'ün köşesi</h1>


<br>
<% @yorums.each do |yorum| %>
<p><%= yorum.created_at.strftime("%d/%m/%Y") %> </p>
<p>Yazan: <%= yorum.user.try(:username) %> </p>
 <p><b><%= yorum.title %></b></p>
<p><%= truncate(yorum.yazi, :length => 150) %><i><%= link_to "...devamı", yorum %></i></p>

--------------------------------------------------------------------
<br>
<br>

<% end %>



