
<br>

 <h4> <%= @yorum.user.try(:username) %> <h4>

	 <h5><%= @yorum.created_at.strftime("%d/%m/%Y") %> </h5>
 <h1> <%= @yorum.title %> </h1>

  <%= @yorum.yazi %>
	<br>
	<br>
	<br>
<% if user_signed_in? %>
<%= link_to 'Düzenle', edit_yorum_path(@yorum) %> | <%= link_to '<< Tüm yazılar', yorums_path %>

<% else %>


<%= link_to '<< Tüm yazılar', yorums_path %>

		
			<% end %>