

<p>
  <b>Yazar:</b>
  <%= @yorum.user.try(:username) %>
</p>

<p>
  <b>Başlık:</b>
  <%= @yorum.title %>
</p>

<p>
  <b>Yazı:</b>
  <%= @yorum.yazi %>
</p>


<%= link_to 'Düzenle', edit_yorum_path(@yorum) %> |
<%= link_to '<< Geri dön', yorums_path %>
