<div id="menubar">
  <ul id="menu">
   
    <%= nav_link 'Tahmin', root_path %>
		<%= nav_link 'Editör', yorums_path %>
		<%= nav_link 'Sembol', semboller_path %>
		<%= nav_link 'Canlı Sonuç', canli_path %>
		<%= nav_link 'İletişim', iletisim_path %>
  </ul>
				
</div>
