<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "hata") %> tahminin kaydedilmesine mani oldu:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b><%= f.label :kod %></b><br /></b>
    <%= f.number_field :kod %>
  </div>
  <div class="field">
    <b><%= f.label :ev_sahibi %></b><br />
    <%= f.text_field :ev_sahibi %>
  </div>
  <div class="field">
    <b><%= f.label :misafir %></b><br />
    <%= f.text_field :misafir %>
  </div>
	
	<div class="field">
		<b><%= f.label :sembol %></b><br />
		<%= f.select(:sembol, [["Banko", 1], ["Uygun", 2], ["Riskli", 3], ["Oynanmaz", 4]]) %>
		
  </div>
	
	<div class="field">
    <b><%= f.label :tahmin %></b><br />
    <%= f.text_field :tahmin %>
  </div>
  <div class="field">
    <b><%= f.label :oran %></b><br />
    <%= f.text_field :oran %>
  </div><br><br>
	<div color:red>------------ Maç bittikten sonra doldurulacak bölüm -----------</div>
  <br><br><div class="field"> 
    <b><%= f.label :skor %></b><br />
    <%= f.text_field :skor %> 
  </div>
  <div class="field">
    <b><%= f.label :sonuç %></b><br /> 
    <%= f.select :sonuc, {"-" => nil, "Tuttu" => true, "Tutmadı" => false}%> 
  </div>
	<div class="field">
    <%= f.hidden_field :user_id %>
    
  </div>
  <br><br><div class="actions">
    <%= f.submit "Gönder" %>
  </div>
<% end %>
