<br>
<br>
<table width="100%" class="bordered">
  
	<tr>
    <th width="5%">Kod</th>
    <th width="23%">Ev sahibi</th>
    <th width="23%">Misafir</th>
		<th width="9%">Tahmin</th>
    <th width="6%">Oran</th>
    <th width="9%">Sembol</th>
		<th>Uzman</th>
    <th width="7%">Skor</th>
    <th width="7%">Sonuç</th>
  </tr>
 <% @posts.group_by(&:tarih).sort.reverse.each do |day, posts| %>
<tr>
   <td colspan="9"><center><%= l(day, :format => "%d %m %Y - %A") %></center></td>
</tr>
<% posts.each do |post| %>
 
	<tr>
		<td width="5%"><% if user_signed_in? %>
			
			<%= link_to post.kod, edit_post_path(post) %>
			<% else %>
			<%= link_to post.kod, post %>
			<% end %>
		</td>
    <td width="23%"><%= link_to post.ev_sahibi, post %></td>
    <td width="23%"><%= post.misafir %></td>
    <td width="9%"><center><%= post.tahmin %></center></td>
    <td width="6%"><center><%= number_with_precision(post.oran, :precision => 2) %></center></td> 
		<td width="9%"><% if post.sembol == 1 %>  
			<%= image_tag('banko.png', :size => '50x22') %>
		<% elsif post.sembol == 2 %>
			<%= image_tag('uygun.png', :size => '50x22') %>
			<% elsif post.sembol == 3 %>
				<%= image_tag('riskli.png', :size => '50x22') %>
				<% else %>
			<%= image_tag('oynanmaz.png', :size => '50x22') %>
			<% end %></td>
			<td><%= post.user.try(:username) %></td> 
	    <td width="7%"><center><%= post.skor %></center></td>
			<td width="7%"><center><% if post.sembol == 4 %>
				
				<% elsif post.sonuc == true && post.sembol != 4 %>
			    <%= image_tag("check.png", :size => "23x22", :alt => "Tuttu") %>
			<% elsif post.sonuc == false && post.sembol != 4 %> 
			    <%= image_tag("cross.png", :size => "23x22", :alt => "Tutmadı") %>
				<% elsif post.sonuc == nil && post.sembol != 4 %>
					<%= image_tag("sonuclanmadi.png", :size => "23x22", :alt => "Sonuçlanmadı") %>
					
			<% end %></center>
	   </td>
 
	</tr>
  
<% end %>

<% end %>
</table>


