<p id="notice"><%= notice %></p>

<p>
  <b>Kod:</b>
  <%= @post.kod %>
</p>

<p>
  <b>Ev sahibi:</b>
  <%= @post.ev_sahibi %>
</p>

<p>
  <b>Misafir:</b>
  <%= @post.misafir %>
</p>

<p>
  <b>Tahmin:</b>
  <%= @post.tahmin %>
</p>

<p>
  <b>Oran:</b>
  <%= @post.oran %>
</p>

<p>
  <b>User:</b>
  <%= @post.user_id %>
</p>
<p>
  <b>Skor:</b>
<%= @post.skor%>
</p>
<p>
  <b>Sonuç:</b>
<%= @post.sonuc%>
</p>
<%= link_to 'Düzenle', edit_post_path(@post) %> |
<%= link_to 'Geri', posts_path %>
