<!DOCTYPE html>
<html>
<head>
  <title>İddaa Köşesi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Stalemate&subset=latin-ext" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Bree+Serif&subset=latin-ext" />
	
</head>
<body>
	
  <div id="main">
    <div id="header">
      <div id="logo">
        <h1>İddaa<%= link_to 'Köşesi', root_path %></h1>
        <div class="slogan">Uzmanlardan kazandıran tahminler</div>
      </div>
			
      <%= render :partial => "shared/navigation"%>
			
    </div>
    <div id="site_content">
      <div id="sidebar_container">
        <%= image_tag  "paperclip.png", :class => "paperclip" %>
        <div class="sidebar">
          <h3>Editör'den</h3>
          <h4>Doğan Gazioğlu</h4>
          <h5>01 Mart 2013</h5>
          <p>İddaa Köşesi yenilenen altyapısı ve yeni yüzü ile hizmetinizde..<br /><a href="#">devamı</a></p>
        </div>
        <%= image_tag  "paperclip.png", :class => "paperclip" %>
				<div class="sidebar">
        <!-- insert your sidebar items here -->
        <h3>Garanti!</h3>
        <h4>Minimum oran garantisi.</h4>
        <p>İddaa köşesi düşük oranlı tahminleri yayınlamaz. <h2>Bizim için 'Banko' demek, yüksek ihtimal ile yüksek oran demektir.</h2></p>
        </div>
        <%= image_tag  "paperclip.png", :class => "paperclip" %>
        <div class="sidebar">
          <h3>Yazar ol!</h3>
          <p>Ben de bu işte Uzman'ım diyorsan, bize katılabilirsin.</p>
         <h4><p>Katılım şartları için buraya tıkla.</p></h4>
        </div>
        
        
      </div>


   
	  <div id="content">
			<p class="notice"><%= notice %></p>
			 <p class="alert"><%= alert %></p>
			<%= yield %>
			
      
    </div>
  </div>
  <div id="footer">
		
		
    <p>Copyright &copy; İddaa Köşesi | <%= render :partial => "shared/user_nav"%></p>

  </div>
	
</div>
<script type="text/javascript">
   /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
   var disqus_shortname = 'iddaakosesi'; // required: replace example with your forum shortname

   /* * * DON'T EDIT BELOW THIS LINE * * */
   (function () {
       var s = document.createElement('script'); s.async = true;
       s.type = 'text/javascript';
       s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
       (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
   }());
   </script>
</body>
</html>
